extends layout.pug 
block content 
    h2.mb-4.mt-4='Jogo Concurso '+ jogo.Concurso
        if jogo.temResultado
            small.badge.rounded-pill.ms-2.fs-6.bg-success='Realizado em '+jogo.dataApuracao 
        else
            small.badge.rounded-pill.ms-2.fs-6.bg-danger Não Realizado
    if jogo.resultado!=null 
        div.row.mb-4.resultados
            div.col-6
                h3 Resultado sorteado
                div.d-flex
                    each resultado in jogo.resultado 
                        div.resultado.border.rounded-circle.ps-2.pe-2.pt-1.pb-1.me-2.bg-primary.text-light=resultado
    if message!=null    
        div.mb-4.alert.alert-danger=message 
    div.row
        div.col
            form(method='post')                
                div.mb-2
                    h3 Jogadores
                        small.ms-1
                            button(class='btn btn-primary mb-2' data-bs-toggle="modal" data-bs-target="#modalJogador" type='button')
                                i.fas.fa-plus &nbsp
                                span Jogador 
                div.row.p-4.shadow-sm#jogadores                        
                div.buttons.mb-2.mt-3
                    a(class="btn btn-secondary me-1" href='/jogos')
                        i.fas.fa-chevron-left &nbsp 
                        span Voltar                     
                    button(class="btn btn-danger btn-excluir" formaction='/jogos/'+jogo.Id+'/excluir' onclick='return confirm("Deseja realmente excluir este jogo?")')
                        i.fas.fa-times &nbsp 
                        span Excluir
    div.modal#modalJogador.fade
        div.modal-dialog.modal-dialog-centered
            div.modal-content
                div.modal-header
                    h5.modal-title Jogador 
                    button(type='button' class='btn-close btn-fechar-modal' data-bs-dismiss='modal')
                div.modal-body
                    form#frmNovoJogador
                        input#jogoId(type='hidden' value=jogo.Id name='jogoId')
                        input#jogadorId(type='hidden' name='jogadorId')
                        div.mb-2
                            label.form-label(for='nomeJogador') Nome
                            input.form-control#nomeJogador(type='text' name='nomeJogador' required)
                        div.mb-2.text-center
                            button.btn.btn-success.me-1(type='submit')
                                i.fas.fa-save &nbsp 
                                span Adicionar 
                            button.btn.btn-danger(type='button' data-bs-dismiss='modal')
                                i.fas.fa-times &nbsp 
                                span Cancelar                              
                    div.alert-container
    div.modal#modalAposta.fade
        div.modal-dialog.modal-dialog-centered
            div.modal-content
                div.modal-header
                    h5.modal-title Aposta 
                    button(type='button' class='btn-close btn-fechar-modal' data-bs-dismiss='modal')
                div.modal-body
                    form#frmAposta
                        input#apostaId(type='hidden' name='apostaId')
                        input#jogoId(type='hidden' value=jogo.Id name='jogoId')
                        input#jogadorId(type='hidden' name='jogadorId')
                        div.mb-2
                            label.form-label(for='nomeJogador') Nome
                            input.form-control#nomeJogador(type='text' name='nomeJogador' readonly)
                        div.mb-2                        
                            label.form-label Números
                            div.d-flex
                                input.form-control.numeros(type='number' name='numeros')
                                input.form-control.numeros(type='number' name='numeros')
                                input.form-control.numeros(type='number' name='numeros')
                                input.form-control.numeros(type='number' name='numeros')
                                input.form-control.numeros(type='number' name='numeros')
                                input.form-control.numeros(type='number' name='numeros')
                        div.mb-2.text-center
                            button.btn.btn-success.me-1(type='submit')
                                i.fas.fa-save &nbsp 
                                span Adicionar 
                            button.btn.btn-danger(type='button' data-bs-dismiss='modal')
                                i.fas.fa-times &nbsp 
                                span Cancelar                              
                    div.alert-container
    script(src='/js/pages/jogos.js')
