html
    head
        title=title
    body
        h1=title
        h2=concurso
        div
            a(href='/?concurso='+concursoAnterior)
                span='Concurso '+ concursoAnterior
        div
            if concursoPosterior!=null
                a(href='/?concurso='+concursoPosterior)
                    span='Concurso '+ concursoPosterior
        section
            div
                h2=dataApuracao
                ul
                    if numeros!=null
                        each val in numeros
                            li=val
