extends layout.pug 
block content 
    h2 Jogos - Novo Jogo 
    if message!=null    
        div.alert.alert-danger=message 
    div.row
        div.col
            form(action='/jogos/novo' method='post')
                div.mb-2
                    label(class='form-label' for='concurso') Concurso
                    input(class='form-control' type='text' name='concurso' id='concurso' value=jogo.concurso required)
                div.mb-2
                    h3 Jogadores
                        small.ms-1
                            button(class='btn btn-primary mb-2'  type='button')
                                i.fas.fa-plus &nbsp
                                span Jogador
                    div.row.mb-1.jogador
                        div.col-6
                            span Nome
                    each jogador, idx in jogo.jogadores
                        div.row.pb-2.border-bottom.apostas
                            div.row
                                div.col-6                                
                                    input(class='form-control' type='text' name='jogadores['+idx+'].nome' id='jogadores['+idx+'].nome' value=jogador.nome required)                              
                                div.col-2
                                    button(class='btn btn-primary mb-2'  type='button')
                                        i.fas.fa-plus &nbsp
                                        span Aposta
                            div.row
                                div.col.ms-2.me-2
                                    div.mb-1 Apostas
                                    div.d-flex.justify-content-around
                                        input(class='form-control me-1' type='number' min='1' max='60' name='jogadores['+idx+'].apostas[0].numeros[0]' id='jogadores['+idx+'].apostas[0].numeros[0]' required value=jogador.apostas[0].numeros[0])
                                        input(class='form-control me-1' type='number' min='1' max='60' name='jogadores['+idx+'].apostas[0].numeros[1]' id='jogadores['+idx+'].apostas[0].numeros[1]' required value=jogador.apostas[0].numeros[1])
                                        input(class='form-control me-1' type='number' min='1' max='60' name='jogadores['+idx+'].apostas[0].numeros[2]' id='jogadores['+idx+'].apostas[0].numeros[2]' required value=jogador.apostas[0].numeros[2])
                                        input(class='form-control me-1' type='number' min='1' max='60' name='jogadores['+idx+'].apostas[0].numeros[3]' id='jogadores['+idx+'].apostas[0].numeros[3]' required value=jogador.apostas[0].numeros[3])
                                        input(class='form-control me-1' type='number' min='1' max='60' name='jogadores['+idx+'].apostas[0].numeros[4]' id='jogadores['+idx+'].apostas[0].numeros[4]' required value=jogador.apostas[0].numeros[4])
                                        input(class='form-control me-1' type='number' min='1' max='60' name='jogadores['+idx+'].apostas[0].numeros[5]' id='jogadores['+idx+'].apostas[0].numeros[5]' required value=jogador.apostas[0].numeros[5])                    
                                        button(class='btn btn-danger' type='button')
                                            i.fas.fa-trash
                div.mb-2
                    button(class="btn btn-success")
                        i.fas.fa-save &nbsp 
                        span Salvar
